@import '@radix-ui/colors/black-alpha.css';


.dashboard-button-bar {
    display: flex;
    justify-content: center;
    /* margin-top: 4rem; */
    margin-bottom: 0.6rem;
}


.help-modal{
    background-color: #3e365c;
}

.dark .footer-text{
    color: rgba(255, 255, 255, 0.787) !important; 
}

.dark .help-modal-btn {
    color: rgba(255, 255, 255, 0.839) !important;
}

.dark .hamburger-menu{
    color: rgba(255, 255, 255, 0.839) !important;
}

.dark .hamburger-menu-text{
    color: rgb(255, 255, 255) !important;
}

.dashboard-page {
    display: flex;
    justify-content: center;
    align-items: center;
}


.dark-mode-toggle {
    all: unset;
    width: 45px;
    height: 30px;
    background-color: var(--black-a8);
    border-radius: 9999px;
    margin-right: 10px;
    position: relative;
    top: 2px;
    box-shadow: 0 2px 10px var(--black-a7);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .dark-mode-toggle:focus {
    box-shadow: 0 0 0 2px black;
  }
  .dark-mode-toggle [data-state='checked'] {
    background-color: rgba(255, 255, 255, 0.629);
  }

  .dark .dark-mode-toggle{
    border: 1px solid rgb(255, 255, 255);
  }

  .toggle-sun{
    position: absolute;
    left: 4px;
    top: 8px;
  }
  .toggle-moon{
    position: absolute;
    right: 3px;
    top: 8px;

  }
  
  .SwitchThumb {
    display: block;
    width: 21px;
    height: 21px;
    background-color: rgba(237, 237, 237, 0.421);
    border-radius: 9999px;
    box-shadow: 0 2px 2px var(--black-a7);
    transition: transform 100ms;
    transform: translateX(5px);
    will-change: transform;
  }
  .SwitchThumb[data-state='checked'] {
    transform: translateX(19px);
  }

.general-metrics-numbers {
    background: -webkit-linear-gradient(#726dad, #67077d41);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
}


.dark .general-metrics-numbers {
    background: -webkit-linear-gradient(#7f7bad, #671579a2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
}

.custom-metrics-numbers-single {
    background: -webkit-linear-gradient(#726dad, #67077d41);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
}

.custom-metrics-numbers-double {
    background: -webkit-linear-gradient(#726dad, #67077d41);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
}

.home-logo-container {
    display: flex;
    flex-direction: column;
    height: 65vh;
    align-items: center;
    justify-content: center;
}

.home-logo-nav {
    width: 50rem;
}

.home-cards-section {
    height: 18rem;
    /* background-color: rgba(252, 252, 252, 0.058); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home-card {
    height: 14rem;
    width: 21rem;
    margin: 30px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.226);
    background-color: rgba(206, 206, 206, 0.23);
    box-shadow: 0px 0px 5px 0px rgba(108, 108, 108, 0.214);
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-section1 {
    height: 25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home-panel {
    border-radius: 20px;
    padding: 40px;
    height: 20rem;
    width: 30rem;
    margin: 40px;
    text-align: center;
}

.home-panel-img {
    border-radius: 20px;
    height: 20rem;
    width: 30rem;
    margin: 40px;
    text-align: center;
}

.home-demo-img {
}

.home-section2 {
    height: 25rem;
    /* background-color: rgba(206, 206, 206, 0.16); */
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.home-team-section {
    height: 25rem;
    /* background-color: rgba(206, 206, 206, 0.16); */
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
}

.home-team-title{
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

.home-team-card-section{
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

.home-team-card{
    height: 14rem;
    width: 15rem;
    margin: 30px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.226);
    background-color: rgba(206, 206, 206, 0.23);
    box-shadow: 0px 0px 5px 0px rgba(108, 108, 108, 0.214);
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-team-card.dark{
    color:white;
}



.home-footer-section {
    height: 25rem;
    /* background-color: rgba(206, 206, 206, 0.16); */
}

.dash-card-titles {
    color: #17012866;
}

.dark .dash-card-titles {
    color: #ffffffac;
}

.dashboard-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 1.5rem;
    column-gap: 1.5rem;
    padding: 3rem;
    height: 76vh;
    overflow-y: auto;
    width: 95%;
    border: 2px solid rgb(255, 255, 255, 0.05);
    background-color: rgba(70, 70, 71, 0.079);
    border-radius: 20px;
}

.dark .dashboard-container{
    background-color: rgba(201, 190, 225, 0.036);

}

.dark .dashboard-buttons-dark {
    background-color: #ffffff11 !important;
}

.dashboard-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 2em;
    height: 35vh;
    border: 2px solid rgb(255, 255, 255, 0.05);
    border-radius: 20px;
    padding: 0.6rem;
    background-color: rgba(200, 199, 217, 0.401);
    box-shadow: 0px 0px 5px 0px rgba(108, 108, 108, 0.75);
    transition: all 0.2s ease-in-out;
}

.dark .dashboard-card{
    background-color: rgba(14, 14, 14, 0.361);
    box-shadow: 0px 0px 2px 0px rgba(108, 108, 108, 0.75);

}

.dark .dashboard-card-dbsize{
    background-color: rgba(14, 14, 14, 0.598);
}



.grid-span1{
    grid-column: span 0.5;
}
.dashboard-card-dbsize {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 2em;
    height: 35vh;
    border: 2px solid rgb(255, 255, 255, 0.05);
    border-radius: 20px;
    padding: 0.6rem;
    /* background-color: rgba(230, 228, 231, 0.351); */
    background-color: rgba(200, 199, 217, 0.401);
    /* purple tint 
    /* background-image: linear-gradient(rgba(117, 82, 172, 0.04), rgba(8, 0, 151, 0.04)); */
    box-shadow: 0px 0px 5px 0px rgba(108, 108, 108, 0.75);
    transition: all 0.2s ease-in-out;
}

.small-card-35 {
    height: 35vh;
}

.query-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 2em;
    height: 32rem;
    border: 2px solid rgb(255, 255, 255, 0.05);
    border-radius: 20px;
    padding: 0.6rem;
    background-color: rgba(200, 199, 217, 0.401);
    box-shadow: 0px 0px 5px 0px rgba(108, 108, 108, 0.75);
    transition: all 0.2s ease-in-out;
}

.dark .query-card {
    background-color: rgba(0, 0, 0, 0.277);

}

.error-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 2em;
    height: 35vh;
    border: 2px solid rgb(255, 255, 255, 0.05);
    border-radius: 20px;
    padding: 0.6rem;
    /* background-color: rgba(230, 228, 231, 0.351); */
    background-color: rgba(200, 199, 217, 0.401);
    /* purple tint 
    /* background-image: linear-gradient(rgba(117, 82, 172, 0.04), rgba(8, 0, 151, 0.04)); */

    box-shadow: 0px 0px 5px 0px rgba(108, 108, 108, 0.75);
}

.text-card {
    height: 78%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35%;
}

.text-card-dbsize {
    height: 78%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35%;
}


.custom-query-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 1.5rem;
    column-gap: 1.5rem;
    padding-top:2rem;
    padding-bottom:2rem;
    padding-right: 3rem;
    padding-left: 3rem;
    height: 76vh;
    overflow-y: auto;
    width: 100%;
    border: 2px solid rgb(255, 255, 255, 0.05);
    background-color: rgba(241, 241, 241, 0.131);
    border-radius: 20px;
}


.dark .custom-query-container{
    background-color: rgba(241, 241, 241, 0.022);
}

.custom-query-card-box {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 95%;
    border-radius: 20px;
    padding: 0.6rem;
    border: 2px solid rgb(255, 255, 255, 0.05); 
    background-color: rgba(200, 199, 217, 0.401);
    box-shadow: 0px 0px 5px 0px rgba(108, 108, 108, 0.75);
}

.dark .custom-query-card-box{
    background-color: rgba(200, 199, 217, 0.025);
    box-shadow: 0px 0px 1px 0px rgba(108, 108, 108, 0.75);

}

.custom-query-cards {
    color: white;
    height: 95%;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    padding: 0.6rem;
    background-image: linear-gradient(rgba(117, 82, 172, 0.060), rgba(124, 98, 156, 0.100));
    box-shadow: 0px 0px 5px 0px rgba(108, 108, 108, 0.75);
}

.dark .custom-query-cards{
    background-image: linear-gradient(rgba(0, 0, 0, 0.529), rgba(2, 2, 3, 0.341));
    box-shadow: 0px 0px 1px 0px rgba(108, 108, 108, 0.75);

}

::placeholder{
    color: rgba(124, 110, 145, 0.79) !important;
}

.dark ::placeholder{
    color: rgba(187, 187, 187, 0.759) !important;
}

.query-submit-dark{
    background-color: #615c9381 !important;
}

.query-textarea-dark{
    background-color: #ffffff17  !important;

}

.dark .query-textarea-dark {
    background-color: #ffffff17  !important;
    color: white !important; 
}

.dark ::selection {
    background-color: rgb(0, 0, 0) !important;
}

.text-card-custom {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: .6rem; */
}

.dashboard-card.md-card {
    grid-column: span 2;
}

.dashboard-card.small-card {
    max-width: 99%;
}

.small-card {
    height: 48%;
}

.span-all {
    grid-column: 1 / -1;
}
.grid-span3 {
    grid-column: span 3;
    border: 2px solid rgb(255, 255, 255, 0.05);
    border-radius: 20px;
    padding: 0.6rem;
    /* background-color: rgba(230, 228, 231, 0.351); */
    background-color: rgba(200, 199, 217, 0.401);
    box-shadow: 0px 0px 5px 0px rgba(108, 108, 108, 0.75);
    transition: all 0.2s ease-in-out;
}

.grid-span3:hover {
    /* background-color: rgba(200, 199, 217, 0.401); */
    background-image: linear-gradient(
        rgba(208, 200, 240, 0.389),
        rgba(86, 86, 86, 0.039)
    );
    box-shadow: 2px 2px 10px 0px rgba(108, 108, 108, 0.75);
    transform: scale(1.002);
}

.custom-query-charts {
    grid-column: 2 / -1;
}

.span-all2 {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dashboard-card:hover {
    /* background-color: rgba(200, 199, 217, 0.401); */
    background-image: linear-gradient(
        rgba(208, 200, 240, 0.389),
        rgba(86, 86, 86, 0.039)
    );
    box-shadow: 2px 2px 10px 0px rgba(108, 108, 108, 0.75);
    transform: scale(1.002);
}

.dark .dashboard-card:hover {
    /* background-color: rgba(200, 199, 217, 0.401); */
    background-image: linear-gradient(
        rgba(208, 200, 240, 0.072),
        rgba(86, 86, 86, 0.039)
    );
    box-shadow: 2px 2px 2px 0px rgba(108, 108, 108, 0.75);
    transform: scale(1.002);
}

.loading-center {
    grid-column: 1 / -1;
    align-self: center;
}

.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 100vw;
}

.login-container {
    padding: 30px;
    border: 2px solid rgba(255, 255, 255, 0.049);
    background-color: rgba(235, 233, 233, 0.215);
    border-radius: 20px;
    transition: transform ease-in-out 0.25s;
    box-shadow: 2px 2px 25px 0px rgba(108, 108, 108, 0.418);
}

.logo-nav {
    width: 10rem;
}

.dashboard-connect-uri {
    padding: 2rem;
    border: 2px solid rgba(255, 255, 255, 0.049);
    background-color: rgba(235, 233, 233, 0.215);
    border-radius: 20px;
    transition: transform ease-in-out 0.25s;
    box-shadow: 2px 2px 25px 0px rgba(108, 108, 108, 0.418);
}

.invalid-uri {
    grid-column: 1 / -1;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.erd-table {
    color: rgba(255, 255, 255, 0.865);

    background-image: linear-gradient(
        rgba(95, 34, 194, 0.145),
        rgba(8, 0, 151, 0.153)
    );
    border-radius: 20px;
    box-shadow: 0px 0px 12px 0.5px rgba(211, 211, 211, 0.998);
}

.dark .erd-titles {
    color: white !important;
}

th,
td {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid rgb(255, 255, 255, 0.1);
    line-height: 1;
    /* border-right: 2px solid rgb(255, 255, 255, 0.3); */
}

tbody {
    font-size: 15px;
}

th {
    color: rgb(255, 248, 248);
    background-image: linear-gradient(
        rgba(0, 0, 168, 0.021),
        rgba(0, 0, 0, 0.091)
    );
}

tr:last-child td {
    border-bottom: none;
}

th:first-child,
td:first-child {
    padding-left: 1rem;
    padding-right: 0.5rem;
}

th:nth-child(2),
td:nth-child(2) {
    padding: 0.5rem;
}

th:last-child,
td:last-child {
    border-right: none;
}

.erd-key-icons {
    width: 2rem;
}

.logo-nav-loader {
    width: 40rem;
    animation: logo-nav-loader 3s infinite;
}

@keyframes logo-nav-loader {
    /* 0%, 100%  { filter: blur(0px) brightness(1) hue-rotate(0deg) saturate(1); } */
    50% {
        filter: brightness(3) saturate(0);
    }
}
